main {
  display: flex;
  flex-direction: column;
  gap: 183px;
}

.content-section {
  width: 100%;
  margin: 0 auto;
}

/* === HEADER === */
.site-header {
  display: grid;
  grid-template-columns: 1.51fr 2fr 1.5fr;
  align-items: center;
  padding: 92px 51px 89px;
}

.nav-menu__list {
  display: flex;
  gap: 32px;
}

.nav-menu__item {
  list-style: circle;
}

.nav-menu__item_no-bullet {
  list-style: none;
}

.nav-menu__link {
  font-size: 18px;
  white-space: nowrap;
}

.text-link:hover {
  background-color: #000;
  color: #fff;
}

.nav-menu__link_active {
  text-decoration: none;
}

.site-header__logo {
  display: block;
  justify-self: center;
  width: 140px;
}

.site-header__logo-image {
  width: 100%;
}

/* === CONTACT === */
.contact-block {
  font-style: inherit;
}

.contact-block__item {
  display: block;
  font-size: 18px;
  line-height: 1.35;
  text-underline-position: under;
}

.contact-block__text {
  font-size: 18px;
  line-height: 1.35;
}

/* === COVER === */
.main-cover {
  position: relative;
  padding: 165px 50px 50px;
  background: url(../images/cover.jpg) no-repeat center / cover;
}

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}

.main-cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.text-align_center {
  text-align: center;
}

.text-align_right {
  text-align: right;
}

.wide-letter {
  letter-spacing: 60px;
}

.no-spacing {
  letter-spacing: normal;
}

.main-cover__desc {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  padding-top: 136px;
}

.main-cover__text {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.action-button {
  border: 1px solid #fff;
  padding: 14px 32px;
  color: #fff;
  font-size: 22px;
  background: transparent;
  cursor: pointer;
  text-transform: uppercase;
}

.action-button:hover {
  color: #000;
  background: #fff;
}

/* === LOTS === */
.auction {
  padding: 0 50px;
}

.auction__title {
  padding: 0 0 30px 40px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.auction__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style: none;
}

.auction-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding: 50px 40px;
  height: 100%;
}

.auction-card_type_film {
  background: url(../images/card-lot-01.jpg) no-repeat center / cover;
}

.auction-card_type_book {
  background: url(../images/card-lot-02.jpg) no-repeat center / cover;
}

.auction-card_type_picture {
  background: url(../images/card-lot-03.jpg) no-repeat center / cover;
}

.auction-card__title {
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.auction-card__text {
  color: #fff;
  font-size: 20px;
}

.auction__more-link {
  display: block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  text-decoration: underline;
  text-underline-position: under;
}

/* === ABOUT === */
.info-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  padding: 0 50px;
}

.info-block__logo-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000;
}

.info-block__logo {
  width: 148px;
}

.info-block__title {
  padding: 100px 0 104px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.info-block__desc {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.info-block__desc p {
  font-size: 20px;
}

/* === FOOTER === */
.site-footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 80px;
}

.footer-nav__list {
  text-align: center;
  list-style: none;
}

.footer-nav__link {
  font-size: 18px;
  text-underline-position: under;
}

.footer-nav__link_active {
  text-decoration: none;
}

.socials {
  display: flex;
  gap: 48px;
  list-style: none;
}

.socials__icon {
  height: 48px;
}
